<html>
  <head>
    <h1>HOME. Thank God</h1>
  </head>
  <body>
    <p>
      Play Rock, Paper, Scissors! Player 1 add your choice after the local host number in the URL. Player 2 add yours after the slash! Good luck!
    </p>
  </body>
</html>
